/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #1b253e;
  color: #fff; }

@font-face {
  font-family: flamaBook;
  src: url("fonts/Flama-Book.otf") format("opentype"); }

body {
  font-family: "flama", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.7;
  color: #000; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 10rem;
    line-height: 7rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 6rem;
        line-height: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3rem;
        line-height: 4rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.2rem; } }

.or {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #e51937;
  margin: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .or {
      font-size: 2rem;
      line-height: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .or {
      font-size: 1.5rem;
      line-height: 2rem; } }

.paragraph {
  font-size: 1.5rem;
  color: #0072ce; }
  .paragraph:not(:last-child) {
    margin-bottom: 0.5rem; }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      font-size: 1.2rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.hide {
  display: none; }

.submit-btn {
  width: 36px;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.575;
  border-radius: 0px 5px 5px 0px;
  font-weight: bold;
  background-color: #e7b200;
  border: 1px solid transparent; }

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  width: calc(100% - 36px) !important;
  vertical-align: middle; }

.select2-container--default .select2-selection--single {
  width: 100% !important;
  height: 36px !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.575 !important;
  border-radius: 5px 0px 0px 5px !important;
  border: 1px solid #cacaca !important; }

.select2-container--default
.select2-selection--single
.select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 5px !important;
  right: 1px;
  width: 20px; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.3rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.3rem;
  color: #00aeef;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1b253e;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #1b253e;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 0.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 0.8rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 0.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .offset-col-1-of-4 {
    margin-left: calc( ((100% - 3 * 6rem) / 4) + 6rem); }
    @media only screen and (max-width: 56.25em) {
      .row .offset-col-1-of-4 {
        margin-left: auto !important; } }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 60vh;
  background-color: #0072ce;
  background-size: cover;
  background-position: top;
  position: relative;
  margin-bottom: 0.5rem; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-color: #0072ce; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 55vh; } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        top: 60%;
        right: -32%;
        left: 52%; } }

.section-widget {
  background-color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .section-widget {
      padding: 0.5rem 0; } }
