// COLORS
$color-aoda: #1b253e;
$color-we-brand: #00aeef;

$color-white: #fff;
$color-black: #000;

//widget
$color-widget-btn: #e7b200;
$widget-btn-width-height: 3.6rem;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 0.5rem;
$gutter-horizontal: 6rem;
