.header {
  height: 60vh;
  background-color: $color-walgreens-blue;
  background-size: cover;
  background-position: top;
  position: relative;
  margin-bottom: 0.5rem;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-color: $color-walgreens-blue;
  }

  @include respond(phone) {
    height: 55vh;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    @include respond(phone) {
      top: 60%;
      right: -32%;
      left: 52%;
    }
  }
}
