@font-face {
  font-family: flamaBook;
  src: url("fonts/Flama-Book.otf") format("opentype");
}

body {
  font-family: "flama", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-black;
}
.heading-primary {
  color: $color-white;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 10rem;
    line-height: 7rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 1rem;
    @include respond(tab-port) {
      font-size: 6rem;
      line-height: 7rem;
    }
    @include respond(phone) {
      font-size: 3rem;
      line-height: 4rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    //letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
}

.or {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $color-red;
  margin: 1rem;
  @include respond(tab-port) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  @include respond(phone) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.paragraph {
  font-size: $default-paragraph-size;
  color: $color-walgreens-blue;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  @include respond(phone) {
    font-size: 1.2rem;
  }
}
