@font-face {
  font-family: flamaBook;
  src: url("fonts/Flama-Book.otf") format("opentype");
}

body {
  font-family: "flama", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;

  line-height: 1.7;
  color: $color-black;
}

.heading-primary {
  color: $color-white;
  //text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 10rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @include respond(tab-port) {
      font-size: 6rem;
      line-height: 7rem;
    }
    @include respond(phone) {
      font-size: 5rem;
      line-height: 6rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    //letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }
}
